# Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql

#一次传输的数据包大小
max_allowed_packet=16M
# 最大连接数
max_connections = 3000
#后台进程最大IO性能指标。 默认200，如果SSD，调整为5000~20000
innodb_io_capacity=5000

#错误日志
log-error       = /var/log/mysql/error.log
# 一个事务，在没有提交的时候，产生的日志，记录到 Cache 中；等到事务提交需要提交的时候，则把日志持久化到磁盘。默认 binlog_cache_size 大小 32K
binlog_cache_size=2M

# 这个值（默认 8）表示可以重新利用保存在缓存中线程的数量，当断开连接时如果缓存中还有空间，那么客户端的线程将被放到缓存中，
# 如果线程重新被请求，那么请求将从缓存中读取,如果缓存中是空的或者是新的请求，那么这个线程将被重新创建,如果有很多新的线程，
# 增加这个值可以改善系统性能.通过比较 Connections 和 Threads_created 状态的变量，可以看到这个变量的作用。(–>表示要调整的值)
# 根据物理内存设置规则如下：
# 1G  —> 8
# 2G  —> 16
# 3G  —> 32
# 大于 3G  —> 64
thread_cache_size = 16

#当服务器只被mysql使用时，建议设置机器内存的70%左右
innodb_buffer_pool_size = 2G
# innodb缓冲池块大小
innodb_buffer_pool_chunk_size=256M
# innodb缓冲池实例数
innodb_buffer_pool_instances=8
# 排序缓冲区大小,影响group by、order by...等排序操作,建议设置为机器内存的2倍的值，单位MB
sort_buffer_size=16M
# 读取缓冲区大小，影响select...查询操作
read_buffer_size=16M
# 联查缓冲区大小，影响join多表联查
join_buffer_size=16M

# 日志文件和日志缓冲区
innodb_redo_log_capacity=2G

#索引缓冲区的大小,针对MyISAM
key_buffer_size = 256M
#线程池缓存线程数量的大小
thread_cache_size = 60
#排序缓存区
sort_buffer_size = 16M

#主从同步配置参数 start
server-id=3308
# 设置需要同步的数据库
binlog-do-db=zerosx_system

# 设置忽略的数据库，连续指定可以忽略多个数据库
#binlog-ignore-db=test

# 二进制日志文件前缀
log-bin=/var/lib/mysql/mysql-bin

# binlog格式
# 1. STATEMENT：基于SQL语句的模式，binlog 数据量小，但是某些语句和函数在复制过程可能导致数据不一致甚至出错；
# 2. MIXED：混合模式，根据语句来选用是 STATEMENT 还是 ROW 模式；
# 3. ROW：基于行的模式，记录的是行的完整变化。安全，但 binlog 会比其他两种模式大很多；
binlog_format=ROW
# FULL：binlog记录每一行的完整变更 MINIMAL：只记录影响后的行
binlog_row_image=FULL
# 日志文件大小
max_binlog_size=1G
#max_binlog_size=100M
#主库(master)设置binlog的保留时间为30天
binlog_expire_logs_seconds=2592000
#lower_case_table_names，0：表名区分大小写，且按照用户指定存储；1：表不区分大小写，使用小写存储； 2：表不区分大小写，按照用户指定存储
lower_case_table_names=2

#主从同步配置参数 end

# Custom config should go here
!includedir /etc/mysql/conf.d/

