<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zerosx.system.mapper.IAreaCitySourceMapper">

    <select id="lazyTreeData" resultType="com.zerosx.system.vo.AreaCitySourceTreeVO">
        SELECT
        region.id AS "id",
        region.parent_area_code AS "parent_id",
        region.area_name AS "title",
        region.area_code AS "value",
        region.area_code AS "key",
        region.deep as "deep",
        (SELECT CASE WHEN count(1) > 0 THEN 1 ELSE 0 END FROM t_area_city_source WHERE parent_area_code =
        region.area_code ) AS "has_children"
        FROM
        t_area_city_source region
        where 1=1
        and region.parent_area_code = #{parentCode}
    </select>

</mapper>