<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerosx.system.mapper.ISysDictTypeMapper">

    <resultMap id="BaseResultMap" type="com.zerosx.system.entity.SysDictType">
        <id column="id" property="id"/>
        <result column="dict_name" property="dictName"/>
        <result column="dict_type" property="dictType"/>
        <result column="dict_status" property="dictStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="remarks" property="remarks"/>
        <result column="deleted" property="deleted"/>
    </resultMap>


</mapper>
