<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zerosx.system.mapper.ISysMenuMapper">

    <resultMap type="com.zerosx.system.entity.SysMenu" id="SysMenuResult">
        <id property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="parentName" column="parent_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="path" column="path"/>
        <result property="component" column="component"/>
        <result property="queryParam" column="query_param"/>
        <result property="isFrame" column="is_frame"/>
        <result property="isCache" column="is_cache"/>
        <result property="menuType" column="menu_type"/>
        <result property="visible" column="visible"/>
        <result property="status" column="status"/>
        <result property="perms" column="perms"/>
        <result property="icon" column="icon"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="BaseMenuColumns">
        distinct m.menu_id, m.parent_id, m.menu_name, m.path, m.component, m.query_param, m.visible,
        m.status, m.perms, m.is_frame, m.is_cache, m.menu_type, m.icon, m.order_num, m.create_time,
        m.request_method, m.request_url
    </sql>


    <select id="selectMenuTreeByUserId" parameterType="Long" resultMap="SysMenuResult">
        select <include refid="BaseMenuColumns"/>
        from t_sys_menu m
                 left join t_sys_role_menu rm on m.menu_id = rm.menu_id
                 left join t_sys_user_role sur on rm.role_id = sur.role_id
                 left join t_sys_role ro on sur.role_id = ro.id
                 left join t_sys_user u on sur.user_id = u.id
        where 1=1 and m.deleted = 0 and ro.deleted = 0 and u.deleted = 0
          and u.id = #{userId}
          and m.menu_type in ('M', 'C')
          and m.status = '0'
          AND ro.status = '0'
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuTreeByRoleIds" parameterType="Long" resultMap="SysMenuResult">
        select <include refid="BaseMenuColumns"/>
        from t_sys_menu m
                 left join t_sys_role_menu rm on m.menu_id = rm.menu_id
                 left join t_sys_role ro on rm.role_id = ro.id
        where 1=1 and m.deleted = 0 and ro.deleted = 0
          and ro.id in
            <foreach collection="roleIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            and m.menu_type in ('M', 'C')
            and m.status = '0'
            AND ro.status = '0'
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuListByUserId" resultMap="SysMenuResult">
        select <include refid="BaseMenuColumns"/>
        from t_sys_menu m
                 left join t_sys_role_menu rm on m.menu_id = rm.menu_id
                 left join t_sys_role ro on rm.role_id = ro.id
        where 1=1 and m.deleted = 0 and ro.deleted = 0
            and ro.id in
            <foreach collection="roleIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            and m.status = '0'
            AND ro.status = '0'
            order by m.parent_id, m.order_num
    </select>

    <select id="queryMenuListByRoleId" resultType="Long">
        SELECT sm.menu_id
        FROM t_sys_menu sm
                 LEFT JOIN t_sys_role_menu srm ON sm.menu_id = srm.menu_id
        WHERE 1=1 and sm.deleted = 0 and srm.role_id = #{roleId}
        ORDER BY sm.parent_id, sm.order_num
    </select>

    <select id="findByRoleCodes" resultType="com.zerosx.common.base.vo.SysMenuBO">
        SELECT sm.request_method, sm.request_url
        FROM t_sys_menu sm
        left join t_sys_role_menu srm on sm.menu_id = srm.menu_id
        where 1=1 and sm.deleted = 0
        and srm.role_id in
        <foreach collection="roleIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND (sm.menu_type = 'C' OR sm.menu_type = 'F')
        AND !ISNULL(sm.request_method)
        AND sm.request_method != ''
        AND sm.request_url != ''
        AND ! ISNULL( sm.request_url )
    </select>

    <select id="queryPermList" resultType="java.lang.String">
        SELECT sm.perms
        FROM t_sys_menu sm
        left join t_sys_role_menu srm on sm.menu_id = srm.menu_id
        where 1=1 and sm.deleted = 0 and srm.role_id in
        <foreach collection="roles" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>