package ${package}.${moduleName}.controller;

import com.zerosx.common.core.vo.CustomPageVO;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import org.springframework.validation.annotation.Validated;
import io.swagger.v3.oas.annotations.tags.Tag;
import io.swagger.v3.oas.annotations.Operation;
import lombok.extern.slf4j.Slf4j;
import com.zerosx.common.base.utils.ResultVOUtil;
import com.zerosx.common.base.vo.RequestVO;
import com.zerosx.common.base.vo.ResultVO;
import com.zerosx.common.log.anno.OpLog;
import com.zerosx.common.log.enums.OpTypeEnum;

import ${package}.${moduleName}.vo.${className}PageVO;
import ${package}.${moduleName}.dto.${className}PageDTO;
import ${package}.${moduleName}.dto.${className}DTO;
import ${package}.${moduleName}.vo.${className}VO;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.service.I${className}Service;

import javax.servlet.http.HttpServletResponse;
import java.io.IOException;

/**
 * ${comments}
 * @Description
 * @author ${author}
 * @date ${datetime}
 */
@Slf4j
@RestController
@Tag(name = "${comments}")
public class ${className}Controller {

    @Autowired
    private I${className}Service ${classname}Service;

    @Operation(summary ="分页列表")
    @OpLog(mod = "${comments}", btn = "分页查询", opType = OpTypeEnum.QUERY)
    @PostMapping("/${pathName}/page_list")
    public ResultVO<CustomPageVO<${className}PageVO>> pageList(@RequestBody RequestVO<${className}PageDTO> requestVO){
        return ResultVOUtil.success(${classname}Service.pageList(requestVO, true));
    }

    @Operation(summary ="新增")
    @OpLog(mod = "${comments}", btn = "新增", opType = OpTypeEnum.INSERT)
    @PostMapping("/${pathName}/save")
    public ResultVO<?> add(@Validated @RequestBody ${className}DTO ${classname}DTO) {
        return ResultVOUtil.successBoolean(${classname}Service.add(${classname}DTO));
    }

    @Operation(summary ="编辑")
    @OpLog(mod = "${comments}", btn = "编辑", opType = OpTypeEnum.UPDATE)
    @PostMapping("/${pathName}/update")
    public ResultVO<?> update(@Validated @RequestBody ${className}DTO ${classname}DTO) {
        return ResultVOUtil.successBoolean(${classname}Service.update(${classname}DTO));
    }

    @Operation(summary ="按id查询")
    @GetMapping("/${pathName}/queryById/{id}")
    public ResultVO<${className}VO> queryById(@PathVariable Long id) {
        return ResultVOUtil.success(${classname}Service.queryById(id));
    }

    @Operation(summary ="删除")
    @OpLog(mod = "${comments}", btn = "删除", opType = OpTypeEnum.DELETE)
    @DeleteMapping("/${pathName}/delete/{${pk.attrname}s}")
    public ResultVO<?> deleteRecord(@PathVariable("${pk.attrname}s") Long[] ${pk.attrname}s){
        return ResultVOUtil.successBoolean(${classname}Service.deleteRecord(${pk.attrname}s));
    }

    @Operation(summary = "导出")
    @OpLog(mod = "${comments}", btn = "导出", opType = OpTypeEnum.EXPORT)
    @PostMapping("/${pathName}/export")
    public void operatorExport(@RequestBody RequestVO<${className}PageDTO> requestVO, HttpServletResponse response) throws IOException {
        ${classname}Service.excelExport(requestVO, response);
    }

}
