import request from '@/utils/request';
import serviceConfig from '@/api/serviceConfig'

export function pageList(query) {
  return request({
    url: serviceConfig.system + '/${pathName}/page_list',
    method: 'post',
    data: query
  })
}
export function add${className}(data) {
  return request({
    url: serviceConfig.system + '/${pathName}/save',
    method: 'post',
    data: data
  })
}
export function queryById(id) {
  return request({
    url: serviceConfig.system + '/${pathName}/queryById/' + id,
    method: 'get'
  })
}

export function update${className}(data) {
  return request({
    url: serviceConfig.system + '/${pathName}/update',
    data: data,
    method: 'post'
  })
}

export function delete${className}(id) {
  return request({
    url: serviceConfig.system + '/${pathName}/delete/' + id,
    method: 'delete'
  })
}